{% extends "layout.html" %}

{% block content %}

<div class="site-section">
    <div class="container mb-5">
        <div class="row align-items-center">
          <div class="col-lg-5 ml-auto">
            <h1 class="text-white">{{category}}</h1>
            <p>Are You Sure You Want To Delete {{item}}?</p>
            <form method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary py-3 px-3">
            </form>
        </div>
      </div>
</div>

{% endblock content %}