{% extends "layout.html" %}

{% block content %}

<div class="site-section">
    <div class="container mb-5">
        <div class="row">
          <div class="col-lg-7">
            <p class="text-primary">{{credentials_error}}</p>
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" name="username" value="{{username}}">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" name="email" value="{{email}}">
              </div>
              <div class="form-group">
                  <input type="tel" class="form-control" placeholder="Phone Number" name="phone_number" value="{{phone_number}}">
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary py-3 px-5" value="Update">
              </div>
            </form>  
          </div>
      </div>
      <div class="row mt-5">
          <h3>Addresses</h3>
          <a href="{% url 'add_address' %}" class="ml-auto"><button type="button" class="btn btn-primary">Add</button></a>
        </div>
      <div class="row mt-4">
            {% for address in addresses %}
            <div class="col-lg-9 mx-auto">
              <a href="{% url 'update_address' address.id %}" class="mr-auto"><button type="button" class="btn btn-primary">Update</button></a>
              <div class="widget-next-match mt-3">
                <table class="table custom-table">
                  <thead>
                    <tr>
                      <th>Description</th>
                      <th>{{address.description}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong class="text-white">Suite Or P.O Box</strong></td>
                      <td>{{address.suite_or_pobox}}</td>
                    </tr>
                   <tr>
                      <td><strong class="text-white">Building</strong></td>
                      <td>{{address.building}}</td>
                    </tr>
                   <tr>
                      <td><strong class="text-white">Street</strong></td>
                      <td>{{address.street}}</td>
                    </tr>
                   <tr>
                      <td><strong class="text-white">City</strong></td>
                      <td>{{address.city}}</td>
                    </tr>
                   <tr>
                      <td><strong class="text-white">State</strong></td>
                      <td>{{address.state}}</td>
                    </tr>
                   <tr>
                      <td><strong class="text-white">Postal Code</strong></td>
                      <td>{{address.postal_code}}</td>
                    </tr>
                   <tr>
                      <td><strong class="text-white">Country</strong></td>
                      <td>{{address.country}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            {% endfor address in addresses %}    
    </div>
    </div>
</div>

{% endblock content %}